#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:800px;
    height:200px;
    display: flex;
    justify-content: center;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
}

.left {
    widows: 134px;
    height:200px;
    padding-right: 20px;
}

.right {
    width:134px;
    height:200px;
    float:right;
    padding-right: 20px;
}

.center {
    width: 134px;
    height: 400px;
    padding-right: 20px;
}

#showText{
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:10px;margin:10px auto;
    width:400px;
    height:400px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
}

body { background-color: rgba(110, 5, 5, 0.87);}

h3 {font-family:cursive; color:rgba(202, 170, 27, 0.3);}

h1 {font-family:Helvetica; color:rgba(202, 170, 27, 0.3)}

div {font-family:cursive; color:rgba(202, 170, 27, 0.3);}