#menuBG {
    width:400px;
    height:20px;
    margin:33px 0px 0px 400px;
}

#frmMenu {
    width:700px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
}

.left {
    width: 200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:left;
}

.center {
    width: 200px;
    height: 400px;
    float: left;
}

#showText{
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    margin: 10px 10px 10px 400px;
    width:400px;
    height:400px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
}

body { background-color: rgba(110, 5, 5, 0.87);}

h3 {font-family:cursive; color:rgba(202, 170, 27, 0.3);}

h1 {font-family:Helvetica; color:rgba(202, 170, 27, 0.3)}

div {font-family:cursive; color:rgba(202, 170, 27, 0.3);}